/* Core Theming */

/*
  x11 16-colors - https://www.ditig.com/256-colors-cheat-sheet
  here is a place i am willing to break the rules
*/
$color-x11-black: #000;
$color-x11-maroon: #800000;
$color-x11-green: #008000;
$color-x11-olive: #808000;
$color-x11-navy: #000080;
$color-x11-purple: #800080;
$color-x11-teal: #008080;
$color-x11-silver: #c0c0c0;
$color-x11-gray: #808080;
$color-x11-red: #f00;
$color-x11-lime: #00ff00;
$color-x11-yellow: #ff0;
$color-x11-blue: #00f;
$color-x11-fuchsia: #f0f;
$color-x11-aqua: #0ff;
$color-x11-white: #fff;


$dark-theme: true !default;
$background-color: rgb(34, 34, 34);
$text-color-primary: #eee;
$text-color-inverse: #000;
$text-color-darker: #aaa;
$text-color-darkest: #777;
$text-color-highlight-background: $text-color-primary;
$text-color-highlight-foreground: $background-color;
$text-color-emphasis: rgb(255, 205, 144);
$border-color-primary: #777;
$border-color-darker: #555;

$link-color-primary: rgb(0, 174, 255);
$link-color-visited: $text-color-emphasis;
$link-color-active: $text-color-emphasis;

::-moz-selection {
  background: $text-color-highlight-background;
  color: $text-color-highlight-foreground;
}

::selection {
  background: $text-color-highlight-background;
  color: $text-color-highlight-foreground;
}

/* CSS FX By PvADER */
@mixin fx-cursor-blink {
  &::after {
    content: "▓";
    animation: cursor-blink 1.5s steps(2) infinite;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

body {
  @include Font_DOSV_JPN24;
  background-color: $background-color;
  color: $text-color-primary;
  text-rendering: optimizeSpeed;
  scroll-behavior: auto;
}

img {
  image-rendering: pixelated;
}

a {
  text-decoration: none;
  &:link {
    color: $link-color-primary;
    transition: color 0.5s ease;
  }


  &:visited {
    color: $link-color-visited;
    text-decoration: underline;
    transition: color 0.5s ease;
  }

  &:hover {
    color: $link-color-active;
    text-decoration: underline;
    transition: color 0.5s ease;
  }

  &:active {
    color: $link-color-active;
  }
}

/* headings */

h2 {
  @include Font_DOSV_JPN16;
  color: $text-color-emphasis;
  margin: 2em 0 1em 0;
  font-size: 32px;
}

h3 {
  @include Font_DOSV_JPN12;
  color: $text-color-emphasis;
  margin: 2em 0 1em 0;
  font-size: 24px;
}


/* body copy */
p {
  max-width: 80ch;
  line-height: 1.2em;
}


/* layout-specific */

header h1 a {
  &:link, &:visited, &:active {
    color: $text-color-primary;
    transition: color 0.5s;
  }
  &:hover {
    color: $link-color-primary;
    transition: color 0.5s;
    text-decoration: none;
  }
}

#headingFrame {
  #headingMask {
    h2{
      @include Font_DOSV_JPN30();
      font-size: 300%;
      color: $text-color-primary;

      &.inverse {
        color: $text-color-inverse;
      }
    }
  }
}

hr {
  margin: 1rem 0;
  border: none;
  background-color: $text-color-darker;
  box-shadow: 0 1px 1px rgba(30, 30, 30, 0.8);
  height: 1px;
}

.imageContainer, .videoContainer {
  margin: 2em auto;
  img {
    display: block;
    margin: 0 auto 1em auto;
    text-align: center;
    width: 100%;
  }
  p.caption {
    &:last-child::after {
      content: "" !important;
    }
    @include Font_DOSV_JPN16;
    max-width: none;
    color: $text-color-emphasis;
    width: 100%;
    line-height: 0;
    text-align: center;
  }
}

#preFooter {
  border-color: $border-color-darker;
}

#sharePanel {
  h4 {
    color: $text-color-emphasis;
  }
  a:link, a:visited {
    color: $link-color-primary;
  }
  a:hover {
    color: $link-color-active;
  }
}

#backToTop {
  &:visited {
    color: $link-color-primary;
  }
  &:hover {
    color: $link-color-active;
  }
}

.videoContainer {
  .videoInner {
    position: relative;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}


